.search-condos-container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.search-condos-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.search-condos-right {
    width: 40%;
    height: 100vh;
}

.search-condos-item {
    width: 30%;
    height: 300px;
    margin-top: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    cursor: pointer;
}

.search-condos-picture {
    width: 100%;
    height: 75%;
    background-image: url('https://images.unsplash.com/photo-1464146072230-91cabc968266?auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: column;
}

.search-condo-rooms-font {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-style: bold;
    color: #990000;
}

.search-condo-name-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #484848;
}

.search-condo-price-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #128700;
}

.search-ratings-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #484848;
}

.search-stars-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-star-color {
    color: teal;
}

.search-condos-footer-container {
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #484848;
}

.heart-on {
    width: 15%;
    height: 15%;
    color: #990000;
    top: 50%;
    right: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-arrow-off {
    display: none;
}

.right-arrow-off {
    display: none;
}

.left-arrow {
    width: 5%;
    height: 5%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.right-arrow {
    width: 5%;
    height: 5%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}