.host-container {
    width: 60%;
    height: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-strip-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.profile-pic {
    width: 100%;
    height: 25%;
    background-image: url('https://manofmany.com/wp-content/uploads/2017/07/Jon-Snow-2.jpg');
    background-position: center;
    background-size: cover;
}

.verified-info-container {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.verified-info-header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #DCE0E0;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.verified-info-body-container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 1px solid #DCE0E0;
    border-right: 1px solid #DCE0E0;
    border-bottom: 1px solid #DCE0E0;
}

.verified-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verified-info-body-left {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.verified-info-right {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.check-circle {
    width: 50%;
    max-width: 20px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #484848;;
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-circle-ghost {
    width: 50%;
    max-width: 20px;
    height: auto;
    border-radius: 50%;
    border: 1px solid transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.text-margin {
    margin-left: 5%;
}

.learn-more {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.learn-text {
    margin-left: 5%;
    color: teal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.learn-text:hover {
    text-decoration: underline;
}

.text-margin-learn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile-body {
    width: 75%;
    height: 100%;
}

.profile-header-container {
    width: 100%;
    height: 25%;
    margin-left: 2.5%;
}

.profile-header {
    width: 100%;
    height: 30%;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-location {
    width: 100%;
    height: 10%;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-report {
    width: 100%;
    height: 20%;
    color: #a5a5a5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-report:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile-bio {
    width: 100%;
    height: 40%;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile-badge-container {
    width: 100%;
    height: 7.5%;
    margin-left: 2.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.superhost {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.superhost-pic {
    width: 30%;
    height: 100%;
    background-image: url('http://image.ibb.co/mHTdLH/host.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.superhost-title {
    width: 70%;
    height: 100%;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verified-pic {
    width: 30%;
    height: 100%;
    background-image: url('http://image.ibb.co/fxYCfH/verified.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.reviews-box {
    width: 30%;
    height: 40%;
    background-color: #FF5A5F;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-header {
    width: 100%;
    height: 10%;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-left: 5%;
    padding-top: 5%;
}

.school-body {
    width: 75%;
    height: 10%;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin-left: 10%;
    padding-top: 5%;
}

.about-me-body-container {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 1px solid #DCE0E0;
    border-right: 1px solid #DCE0E0;
    border-bottom: 1px solid #DCE0E0;
}

.about-me-container {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.homes-header {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    margin-left: 2.5%;
}

.homes-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home-item {
    width: 30%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91b874ce453385d8867cc98ee582fee3&auto=format&fit=crop&w=1355&q=80');
}