@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.header-container {
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.header-bar {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.housebnb-logo {
    width: 5%;
    height: 80%;
    background-image: url('http://lh3.googleusercontent.com/BQnvuZR500pg2ulvv3FBmRI93ODz3AjNfbz92hCieuJLvmbGY36AKhETMTTfTDgpPQI');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu {
    width: 40vw;
    height: 100%;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu-item {
    width: auto;
    height: auto;
    cursor: pointer;
    transition: all 0.25s;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    flex-flow: column;
    height: 500px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
}

.header-search-container {
    width: 100%;
    height: 10%;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
}

.header-search-container > input {
    width: 50%;
    height: 80%;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.glass-icon {
    width: 5%;
    height: 80%;
    background-image: url('https://vignette.wikia.nocookie.net/adeles/images/5/58/Magnifying_glass.png/revision/latest?cb=20170114221923');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.help-glass-icon {
    width: 15%;
    height: 65%;
    background-image: url('https://vignette.wikia.nocookie.net/adeles/images/5/58/Magnifying_glass.png/revision/latest?cb=20170114221923');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.housebnb-text {
    color: #FF5A5F;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: 10%;
}

.housebnb-text-2 {
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.housebnb-text-3 {
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    bottom: 10%;
}

.search-box {
    width: 10%;
    height: 80%;
    background-color: #FF5A5F;
    margin-left: 34%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.condos-search-bar {
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
}

.room-search-bar-on {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    margin-right: 18%;
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
}

.room-search-bar-on > input {
    width: 50%;
    height: 80%;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.room-search-bar-off > input {
    display: none;
}

.room-search-bar-off {
    display: off;
}

.condos-search-bar > input {
    width: 50%;
    height: 80%;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.condos-search-bar-off {
    display: none;
}

.become-host-box {
    position: absolute;
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: white;
}

.become-host-box-off {
    display: none;
}

.become-host-menu {
    width: 90%;
    height: 30%;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.become-host-menu:hover {
    border-bottom: 1px solid #484848;
}

.help-menu {
    width: 40%;
    position: absolute;
    left: 60%;
    top: 0%;
    height: 1000px;
    background-color: white;
    -webkit-box-shadow: -5px 10px 34px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 34px -7px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 34px -7px rgba(0,0,0,0.75);
}

.help-menu-off {
    display: none;
}

.help-menu-header {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.help-menu-title {
    color: #888888;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.help-input-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-input-box {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  #D3D3D3;

}

.help-input-box > input {
    width: 80%;
    height: 80%;
    font-size: 16px;
    color:  #888888;
    border: 1px solid white;
}

.suggested-articles-container {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    margin: auto;
    color: #888888;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.suggested-article {
    width: 100%;
    height: 10%;
    color: #888888;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.article-title:hover {
    text-decoration: underline;
}

.visit-help-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    color: teal;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.visit-help-button {
    width: 80%;
    height: 50%;
    background-color: teal;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-bottom-border {
    width: 80%;
    height: 1px;
    background-color: #D3D3D3;
    margin: auto;
}