.register-main-container {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-inner-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-info-container {
    width: 50%;
    height: 100%;
}

.register-picture-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.register-picture {
    width: 80%;
    height: 80%;
    background-image: url('http://image.ibb.co/ixnoHH/room.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.register-subheader {
    width: 100%;
    height: 50px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.register-title {
    width: 100%;
    height: 50px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-input {
    width: 75%;
    height: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-left: 25px;
}

.register-button-container {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button {
    width: 50%;
    height: 40px;
    background-color: #FF5A5F;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}