.create-container {
    width: 80%;
    height: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-left-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.create-header {
    width: 100%;
    height: 50px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-sub-header {
    width: 100%;
    height: 50px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}

.create-input {
    width: 75%;
    height: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.create-input-margin {
    width: 75%;
    height: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
}

input {
    width: 100%;
    height: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.select {
    width: 75%;
    height: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.create-select {
    width: 100%;
    height: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border-color: #D3D3D3;
}

.create-right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.create-button-container {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-button {
    width: 50%;
    height: 40px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5A5F;
    border-radius: 5px;
}

.update-homes-picture {
    background-image: url('http://image.ibb.co/n5eozx/update.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
}