@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.room-header-container {
    width: 100%;
    height: 750px;
    background-image: url('https://images.unsplash.com/photo-1416331108676-a22ccb276e35?auto=format&fit=crop&w=1347&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

.room-header-top {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.room-header-top-box {
    margin-right: 2%;
    width: 8%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.room-header-bottom-box {
    margin-left: 2%;
    width: 8%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.room-header-bottom {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.save-heart {
    font-size: 30px;
}

.take-up-room {
    width: 80%;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
}

.rent-box {
    width: 40%;
    height: 500px;
    background-color: white;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.rent-box-fixed {
    width: 40%;
    height: 500px;
    background-color: white;
    position: fixed;
    top: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    position: sticky;

}

.room-column {
    width: 60%;
    height: 500px;
    background-color: white;
}

.rent-box-border {
    width: 90%;
    height: 90%;
    border: 1px solid #D3D3D3;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rent-inner-box {
    width: 80%;
    height: 80%;
}

.room-price-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
}

.price-per-night-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.price-per-night-stars-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #D3D3D3;
}

.price-per-night-font-1 {
    font-size: 25px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
}

.price-per-night-font-2 {
    width: auto;
    height: auto;
    font-size: 16px;
    color: #484848;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
    margin-left: 3px;
}

.stars-total {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #484848;
    margin-top: 4px;
    margin-left: 3px;
}

.number-of-nights-container {
    width: 100%;
    height: 25%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

.number-of-nights-text {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nights-box-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.night-box {
    width: 20%;
    height: 80%;
    border: 1px solid #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #484848;
}

.rent-button-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rent-button {
    width: 50%;
    height: 50%;
    background-color: #FF5A5F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

.room-main-container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.room-inner-container {
    width: 90%;
    height: 90%;
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    border-bottom: 1px solid #D3D3D3;
}

.room-desc-container {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

.room-desc {
    width: 100%;
    height: 60%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-left: 1%;
    color: #484848;
}

.room-specs {
    width:95%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-left: 1%;
    color: #484848;
}

.room-host-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row;
}

.desc-container {
    width: 70%;
    height: 100%;
}

.room-tour-container {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
}

.room-host-pic-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.room-host-pic {
    width: 50%;
    height: 50%;
    max-width: 45px;
    border-radius: 50%;
    background-image: url('https://static.pexels.com/photos/428341/pexels-photo-428341.jpeg');
    background-position: center;
    background-size: cover;
}

.host-text-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.host-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin-left: 5%;
    color: #484848;
}

.tour-header {
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
    height: 10%;
    margin-left: 1%;
    font-size: 26px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tour-footer {
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
    height: 10%;
    margin-left: 1%;
    font-size: 20px;
    color: #FF5A5F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tour-pics-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}

.tour-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tour-pic {
    width: 24%;
    height: 47%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1493150134366-cacb0bdc03fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d98494c50eba8a4b8ccb965288cfa490&auto=format&fit=crop&w=1350&q=80');
}

.housebnb-ad-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-inner-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('http://image.ibb.co/gxvFCx/house.jpg');
    background-size: cover;
    background-position-x: 200px;
    background-color: white;
    background-repeat: no-repeat;
    border: 1px solid #D3D3D3;
}

.ad-inner-text-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.ad-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ad-logo {
    width: 60px;
    height: 80%;
    background-image: url('http://www.logoeps.net/wp-content/uploads/2016/12/airbnb_logo.png');
    background-size: contain;
    background-position-x: 10px;
    background-repeat: no-repeat;
}

.ad-plus {
    width: 40px;
    height: 100%;
    color: #FF5A5F;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ad-subheader {
    width: 100%;
    height: 20%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
}

.ad-body {
    width: 100%;
    height: 40%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
}

.ad-footer {
    width: 100%;
    height: 20%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #FF5A5F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
}

.room-map-header {
    width: 90%;
    height: 300px;
}

.room-map-container {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-map-footer {
    width: 90%;
    height: 25px;
    border-bottom: 1px solid #D3D3D3;
}

.location-text {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1%;
    font-size: 26px;
    color: #484848;
}

.location-subtext {
    width: 100%;
    height: 25%;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1%;
    font-size: 20px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.location-body-container {
    width: 100%;
    height: 50%;;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1%;
    font-size: 20px;
    color: #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-body-left {
    width: 35%;
    height: 100%;;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.location-body-right-container {
    width: 35%;
    height: 100%;;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
}

.location-body-right-header {
    width: 100%;
    height: 40%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.location-body-right-body {
    width: 100%;
    height: 40%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #484848;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}